body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", serif;
  font-size: 25px;
  z-index: 999;
}

.border {
  position: absolute;
  border: 1px solid #333 !important;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.top {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.left {
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}

.right {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.border.show {
  opacity: 1;
}

.letter {
  position: relative;
  z-index: 1;
  color: #333;
}
