.hero-social {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.social_link {
  margin: 4rem 0;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transform: rotate(270deg);
  transition: transform 0.3s ease, color 0.3s ease; /* Add transition for smooth animation */
}

/* Change on hover */
.social_link:hover {
  /* color: #90209e;  */
  transform: rotate(270deg) translateX(3px); /* Move the link 3px up while keeping the rotation */
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .social_link {
    margin: 2rem 0; /* Reduce margin */
    font-size: 0.9rem; /* Adjust font size */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .hero-social {
    left: 10%; /* Adjust left position for better visibility */
  }

  .social_link {
    margin: 1.5rem 0; /* Further reduce margin */
    font-size: 0.8rem; /* Further adjust font size */
  }
}
