.hero-social {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* position: absolute; */
  /* left: 0;
  top: 50%; */
  /* transform: translateY(-50%); */
}

.social_link {
  margin: 4rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #999;
  transition-duration: 0.5s;
}

/* Change on hover */
.social_link:hover {
  color: #fff;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .social_link {
    margin: 2rem 0.5rem;
    font-size: 0.9rem;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .hero-social {
    left: 10%; /* Adjust left position for better visibility */
  }

  .social_link {
    margin: 1.5rem 0.4rem; /* Further reduce margin */
    font-size: 0.8rem; /* Further adjust font size */
  }
}
