.about-page {
  height: calc(100vh - 70px);
  padding-top: 20px;
  font-family: "Times New Roman", Times, serif;
}

.about-desc,
.about-skills {
  width: 40vw; /* Default width for each section on larger devices */
  padding: 20px;
}
.about-content {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.about-desc {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
}

/* Responsive adjustments (optional) */
@media (max-width: 768px) {
  .about-desc {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}

.about-desc p,
.about-skills p {
  margin-bottom: 1rem; /* Space between paragraphs */
}
.about-skills-heading {
  font-size: 1.5rem;
}

.skill {
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.skill-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  margin-bottom: 5px; /* Space between icon and text */
}

/* Responsive styles for medium and small devices */
@media (max-width: 992px) {
  .page-content {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .about-desc,
  .about-skills {
    width: 100vw;
  }
}
