/* Main container styles */
.main-container {
  display: flex;
  justify-content: center; /* Horizontally centers items */
  align-items: center; /* Vertically centers items */
  height: calc(
    100vh - 56px
  ); /* Adjust this value based on the actual height of your navbar */
  text-align: center; /* Center-align text */
  color: #999;
}

/* Larger screens (desktops, tablets) */
.hero-greet {
  font-size: 5rem;
}

.hero-name {
  font-size: 5rem;
}
.hero-role {
  font-size: 2rem;
  font-weight: 500;
}
.hero-desc {
  font-size: 1.2rem;
  font-weight: 500;
}
.hero-social {
  font-size: 1rem;
  font-weight: 500;
}


/* Mobile styles */
@media (max-width: 768px) {
  .hero-greet {
    font-size: 3rem;
  }

  .hero-name {
    font-size: 4rem;
  }
  .hero-role {
    font-size: 2.5rem;
  }
  .hero-desc {
    font-size: 0.8rem;
  }

  /* Adjust padding on smaller screens */
  .main-container {
    padding: 0.5rem;
  }
}

/* Extra small screens (like very small phones) */
@media (max-width: 480px) {
  .hero-greet {
    font-size: 2.5rem;
  }

  .hero-name {
    font-size: 3.5rem;
  }

  .hero-role {
    font-size: 2rem;
  }
  .hero-desc {
    font-size: 1rem;
  }

  /* Further adjustments for small phones */
  .main-container {
    padding: 0.25rem;
  }
}
