/* Custom styles */
.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #333;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

/* Active link color */
/* .navbar-nav .nav-link.active {
  color: #90209e; 
} */

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 1.5rem;
}

/* Optional: Change navbar appearance on scroll */
.navbar.scrolled {
  background-color: #90209e !important; /* Change color on scroll */
  transition: background-color 0.3s ease;
}

.nav-link {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: #333; /* Default link color */
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.3px; /* Underline thickness */
  border-radius: 2px;
  background-color: #90209e; /* Underline color */
  transform: scaleX(0); /* Start hidden */
  transition: transform 0.3s ease; /* Animation */
  transform-origin: bottom right; /* Animation starts from bottom right */
}

.nav-link:hover::after {
  transform: scaleX(1); /* Show underline on hover */
  transform-origin: bottom left; /* Animation ends at bottom left */
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Slightly transparent white */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2000; /* Ensure it's above other content */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
}

.close-button {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 3rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.fullscreen-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fullscreen-menu-item {
  margin: 1rem 0;
}

.fullscreen-menu-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}
