.loader {
    width: 80px;
    height: 70px;
    /*border: 5px solid #000;*/
    padding: 0 8px;
    box-sizing: border-box;
    background:
            linear-gradient(#a9032c 0 0) 0    0/5px 30px,
            linear-gradient(#a9032c 0 0) 100% 0/5px 30px,
            radial-gradient(farthest-side,#fff 90%,#0000) 0 5px/8px 8px content-box,
            #191919;
    background-repeat: no-repeat;
    animation: l3 2s infinite linear;
}
@keyframes l3{
    25% {background-position: 0 0   ,100% 100%,100% calc(100% - 5px)}
    50% {background-position: 0 100%,100% 100%,0    calc(100% - 5px)}
    75% {background-position: 0 100%,100%    0,100% 5px}
}