.content-box {
  background-color: #232323;
  width: 100%; /* Ensure the box takes up the full column width */
  height: 400px;
  /* Fixed height for uniform boxes */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.content-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.tech-stack p {
  background-color: #333;
  color: #dddbcb;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.work-desc p {
  font-size: 1rem;
  margin: 1.2rem 0;
}
.contentLink {
  text-decoration: none;
  color: #dddbcb;
  transition-duration: 0.4s;
}
.codeLink {
  text-decoration: none;
  color: #dddbcb;
  font-size: 1rem;
  transition-duration: 0.4s;
}

.codeLink:hover,
.contentLink:hover {
  color: #fff;
}

.link_icon {
  height: 18px;
  width: 100%;
  object-fit: contain;
}
