
@font-face {
  font-family: "MontserratRegularFont";
  src: url("/assets/fonts/MontserratAlternates-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratBoldFont";
  src: url("/assets/fonts/MontserratAlternates-ExtraBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  background-color: #191919 !important;
  color: #dddbcb !important;
  font-family: "MontserratRegularFont", Times, serif;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background: #a9032c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: #a9032c;
  color: #dddbcb;
}

.highlight-colour {
  color: #a9032c;
  font-size: 8rem;
  font-weight: 900;
  font-family: "MontserratBoldFont";
}

@media (max-width: 1024px) {
  .highlight-colour {
    font-size: 6rem;
  }
}

@media (max-width: 768px) {
  .highlight-colour {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .highlight-colour {
    font-size: 4.5rem;
  }
}

.custom-container {
  max-width: 60vw;
  margin-top: 2rem;
}

.vh-100 {
  min-height: 100vh;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .custom-container {
    max-width: 100vw;
  }
}
