body,
html,
#root {
  background-color: #1b1b1b !important;
  color: white; /* Optional: To ensure the text is readable on a dark background */
}

::selection {
  background-color: #c4a989;
  color: #222;
}

.highlight-colour {
  color: #c4a989;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 3rem;
  text-align: center;
  height: 150px;
}

@media (max-width: 768px) {
  .page-heading {
    padding: 1.5rem;
    margin: 2rem;
    height: 100px;
  }
}

@media (max-width: 576px) {
  .page-heading {
    padding: 1rem;
    margin: 1rem;
    height: 100px;
    font-size: 1.5rem;
  }
}

.page-heading h1 {
  margin-bottom: 0;
}

.page-content {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page-content {
    width: 100vw;
  }
}
